@use 'style' as s;

// Apartment.jsx (Column)
.aptTable {
  height: 45px;
  font-size: s.$content-font;
  display: flex;
  align-items: center;
  padding: 0 s.$side-padding;
  text-align: center;
  // border:1px solid #000;

  .colH{
    line-height: 5rem;
    height: 100%;
    font-weight: bold;
    padding-left: 2px;
  }
}

.apartment { position: relative; width:24%; }
.location { width:12%; }
.rent { width:11%; }
.bedbath { width:13%; }
.movein { width:13%; }
.pet { width:9%; }
.sqft { width:9%; }
.details { width:9%; }

.rightline {
  position: relative;
  right:16px;
  height:45px;
  border-right: 2px solid s.$base-color;
}

// ApartmentDisplay.jsx
.toLeft { text-align: left; }
.row { 
  background-color: s.$primary-color;
  font-weight: normal; 
  margin-top: 2px;
  // border:1px solid #000;
}

.fullDetail {
  padding-bottom: 30px;
  background-color: s.$secondary-color;
  // display:none;
  // border:1px solid #000;
}
@keyframes updown {
  0% { transform:translateY(0px); }
  20% { transform:translateY(2px); }
  90% { transform:translateY(-2px); }
}
.showDetails {
    font-size: 1.8rem;
    animation: updown 1s infinite;
    text-align: right;
    &:hover{
        cursor: pointer;
        opacity: 60%;
    }
}


// ApartmentDetails.jsx
.editInfo {
  float:right;
  line-height:90px;
  margin-right: 50px;
  cursor: pointer;
  color: s.$button-color;
  font-size: s.$content-font;
  font-weight:bold;
  // border:1px solid #000;

  &:hover{ opacity: 0.7; }
}
.detailsHead {
  padding: 24px s.$side-padding 0;
  h3 {
    font-size: s.$heading-font;
    line-height:2.4rem;
  }
  p {
    font-size: s.$content-font;
    line-height: 2rem; 
  }
}
.detailsBody {
  margin-top: 24px;
  padding: 0 s.$side-padding;
  font-size: s.$content-font;

  table {
    width:100%;
    border-collapse: collapse;
    tr {
      font-weight: 500;
      height: 24px;
      td:nth-child(1){ width: 10%; }
      td:nth-child(2){ width: 14%; }
      td:nth-child(3){ width: 9%; }
      td:nth-child(4){ width: 10%; }
      td:nth-child(5){ width: 6%; }
      td:nth-child(6){ width: 13%; }
      td:nth-child(7){ width: 9%; }
      td:nth-child(8){ width: 9%; }
      td:nth-child(9){ width: 15%; }
      // border:1px solid #000;
    }
    .category { font-weight: bold; }
    .categInfo { color: s.$button-color; }
  }
}