// Header.jsx
.header {
  height: 80px;
  display:flex;
  justify-content: space-between;
  align-items: center;;
  padding-left: 32px;
  background-color: #FCFCFC;
//   border: 1px solid #000;
}


// Apartment.jsx (Column)
.aptTable {
  min-width: 900px;
  height: 45px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  padding-left: 32px;
  text-align: center;
  // border:1px solid #000;

  .colH{
    height: 45px;
    line-height: 5rem;
    height: 100%;
    font-weight: bold;
    padding-left:2px;
  }
}

.apartment { width:24%; }
.location { width:12%; }
.rent { width:11%; }
.bedbath { width:13%; }
.movein { width:13%; }
.pet { width:9%; }
.sqft { width:9%; }
.details { width:9%; }

// ApartmentDisplay.jsx
.toLeft { text-align: left; }
.row { 
  background-color: #FCFCFC; 
  font-weight: normal; 
  margin-top: 2px;
  // border:1px solid #000;
}

@keyframes updown {
  0% { transform:translateY(0px); }
  20% { transform:translateY(2px); }
  90% { transform:translateY(-2px); }
}
.showDetails {
    font-size: 1.8rem;
    animation: updown 1s infinite;

    &:hover{
        cursor: pointer;
        opacity: 60%;
    }
}

// ApartmentDetails.jsx


