@use 'style' as s;

#nav {
    height: 74px;
    padding: 9px s.$side-padding 0 s.$side-padding;
    width:100%;
    display:flex;
    align-items: center;
    background-color: s.$primary-color;
    // border:1px solid #000;
}

#logo{
    float:left;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background: url("../media/logo.png") center/cover no-repeat;
    background-color: skyblue;
}

.rightnav{  
    float:left;
    height: 50px;
    padding-top: 6px;
    margin-left: 10px;
    display: flex;
    // border:1px solid #000;

    h2 { font-size: s.$heading-font; font-weight: 550; }

    #back { 
      display: flex; 
      margin-top: 8px;
      padding-left: 2px;
      font-size: 1.2rem; 
      font-weight: 480;
      opacity: 0.5;

      p {margin-left: 3px;}

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
      transition: opacity 0.2s linear;
    }
}

.leftnav {
  position:absolute;
  right:s.$side-padding;
    height:50px;
    float:right;
    padding-top:12px;
    // border:1px solid #000;
    
    .searchIcon {
      cursor: pointer;
      position: relative;
      top:8px;
      right:180px;
      font-size: 12px;

    }
    #search{
        float:left;
        height: 28px;
        width: 180px;
        margin-right: 10px;
        border-radius: 15px;
        border-style: none;
        background-color: #E5E5E5;
        padding-left: 30px;
    }

    #profile{
        float:right;
        width: 28px;
        height: 28px;
        background-color: orange;
        border-radius: 50%;
    }
}
